%h1 Main
= form_tag(search_path, method: :get) do
  = text_field_tag :term, params[:term]
  = submit_tag 'Search', name: nil
%h1 Последние фотографии
#photos
  - @photos.each do |photo|
    .photo
      = link_to(image_tag(photo.image.thumb.url, alt: 'Фотография'), photo, target: '_blank') if photo.image?
%h1 Последние посты
- @posts.each do |post|
  .post
    = post.title
    = link_to(image_tag(post.photo.small_thumb.url, alt: 'Фотография'), post, target: '_blank') if post.photo?
    = post.description
    = link_to 'Читать', post
