

<br><%= image_tag(@user.avatar.thumb.url, alt: 'Avatar') if @user.avatar? %>

<br><%= @user.name %>
<%= @user.surname %>
<br><%= @user.description %>
<% if policy(@user).edit? %>
  <%= link_to 'Edit',  edit_user_registration_path(@user) %>
<% end %>
<% if policy(@user).destroy? %>
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br><h4>Фотографии(<%= @user.photos.count %>)</h4>

<div id="accordeon">
  <button class="btn-sort-view">
    <%= 'Сортировать по' %>
  </button>
  <div class="btn-sort-items" data-user-id="<%= @user.id %>">
    <button class="btn-sort" data-sort="views">
      <%= 'Views' %>
    </button>
    <button class="btn-sort" data-sort="likes">
      <%= 'Likes' %>
    </button>
    <button class="btn-sort" data-sort="downloads">
      <%= "Downloads" %>
    </button>
    <button class="btn-sort" data-sort="date-asc">
      <%= "Date asc" %>
    </button>
    <button class="btn-sort" data-sort="date-desc">
      <%= "Date desc" %>
    </button>
    <button class="btn-sort" data-sort="all">
      <%= "Сбросить" %>
    </button>
  </div>
</div>
<br>

<div id="photos">
  <% @user.photos.each do |photo| %>
    <div class="photo">
      <%= link_to(image_tag(photo.image.thumb.url, alt: 'Image'), photo, target: '_blank') if photo.image? %>
    </div>
  <% end %>
</div>

<div id='collections'>
  <h3>Collection Testing</h3>
  <% @user.collections.each do |collection| %>
    <%= link_to(collection.name, collection, target: '_blank') %>
  <% end %>

  <h3>Collection Photo Testing</h3>
  <% @user.collections.each do |collection| %>
    <h4><%= collection.name %></h4>
    <% collection.photos.each do |photo| %>
      <%= image_tag(photo.image.thumb.url, alt: 'Image') %>
    <% end %>
  <% end %>

</div>

<br><%= link_to "show_index_of_users", users_path %>
