%br/
= image_tag(@user.avatar.thumb.url, alt: 'Аватар') if @user.avatar?
%br/
= @user.name
= @user.surname
%br/
= @user.description
- if policy(@user).edit?
  = link_to 'Редактировать профиль',  edit_user_registration_path(@user)
- if policy(@user).destroy?
  = link_to 'Удалить профиль', @user, method: :delete, data: { confirm: 'Вы уверены?' }
%br/
%h4
  Фотографии(#{@user.photos.count})
#accordeon
  %button.btn-sort-view
    = 'Сортировать по'
  .btn-sort-items{"data-user-id" => @user.id}
    %button.btn-sort{"data-sort" => "views"}
      = 'Просмотрам'
    %button.btn-sort{"data-sort" => "likes"}
      = 'Лайкам'
    %button.btn-sort{"data-sort" => "downloads"}
      = "Загрузкам"
    %button.btn-sort{"data-sort" => "date-asc"}
      = "Дате asc"
    %button.btn-sort{"data-sort" => "date-desc"}
      = "Дате desc"
    %button.btn-sort{"data-sort" => "all"}
      = "Сбросить"
%br/
#photos
  - @user.photos.each do |photo|
    .photo
      = link_to(image_tag(photo.image.thumb.url, alt: 'Фотография'), photo, target: '_blank') if photo.image?
#collections
  %h3 Collection Testing
  - @user.collections.each do |collection|
    = link_to(collection.name, collection, target: '_blank')
  %h3 Collection Photo Testing
  - @user.collections.each do |collection|
    %h4= collection.name
    %br/
    - if policy(collection).edit?
      = link_to 'Редактировать', edit_collection_path(collection)
    - collection.photos.each do |photo|
      = image_tag(photo.image.thumb.url, alt: 'Фотография')
%br/
= link_to "Все фотографы", users_path
