%p#notice= notice
%h1 Фотографии
#accordeon
  %button.btn-sort-view
    = 'Сортировать по'
  .btn-sort-items
    %br/
    %button.btn-sort{"data-sort" => "views"}
      = 'Просмотрам'
    %button.btn-sort{"data-sort" => "likes"}
      = 'Лайкам'
    %button.btn-sort{"data-sort" => "downloads"}
      = "Загрузкам"
    %button.btn-sort{"data-sort" => "date-asc"}
      = "Дате asc"
    %button.btn-sort{"data-sort" => "date-desc"}
      = "Дате desc"
    %button.btn-sort{"data-sort" => "all"}
      = "Сбросить"
#photos.photos
  - @photos.each do |photo|
    .photo
      = link_to(image_tag(photo.image.thumb.url, alt: 'Фотография'), photo, target: '_blank') if photo.image?
      - photo.tags.each do |tag|
        = tag.tag
%br/
- if user_signed_in?
  = link_to 'Добавить новую фотографию', new_photo_path
