<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<div id="accordeon">
  <button class="btn-sort-view">
    <%= 'Сортировать по' %>
  </button>
  <div class="btn-sort-items">
    <button class="btn-sort" data-sort="views">
      <%= 'Views' %>
    </button>
    <button class="btn-sort" data-sort="likes">
      <%= 'Likes' %>
    </button>
    <button class="btn-sort" data-sort="downloads">
      <%= "Downloads" %>
    </button>
    <button class="btn-sort" data-sort="date-asc">
      <%= "Date asc" %>
    </button>
    <button class="btn-sort" data-sort="date-desc">
      <%= "Date desc" %>
    </button>
    <button class="btn-sort" data-sort="all">
      <%= "Сбросить" %>
    </button>
  </div>
</div>

<% @users.each do |user| %>
  <% user.photos.each do |photo| %>
    <%= photo.image %>
  <% end %>
<% end %>


<div id="photos" class="photos">
  <% @photos.each do |photo| %>
    <div class="photo">
      <%= link_to(image_tag(photo.image.thumb.url, alt: 'Image'), photo, target: '_blank') if photo.image? %>
      <% photo.tags.each do |tag| %>
        <%= tag.tag %>
      <% end %>
    </div>
  <% end %>
</div>


<%= paginate @photos %>

<br>


<%= link_to 'New Photo', new_photo_path %>
