<p id="notice"><%= notice %></p>

<p>
  <strong>Photo url:</strong>
  <%= @photo.image %>
  <%= link_to(image_tag(@photo.image.big_thumb.url, alt: 'Image'), @photo.image.url, target: '_blank') if @photo.image? %>
</p>

<p>
  <% if @photo.attachments? %>
  <ul>
    <% @photo.attachments.each do |attachment| %>
      <li><%= link_to(image_tag(attachment.small_thumb.url, alt: 'Image'), attachment.url, target: '_blank') %></li>
    <% end %>
  </ul>
<% end %>
</p>

<p>
  <strong>Views:</strong>
  <%= @photo.views %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @photo.likes %>
  <span class="likes-count"><%= @photo.get_upvotes.size %></span>
</p>

<% if user_signed_in? %>
  <%= link_to like_photo_path(@photo), class:"like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fa fa-thumbs-up fa-3x"></i></p></span>
    </div>
  <% end %>
<% end %>
<div class="download">
  <strong>Downloads:</strong>
  <div class="download-item"><p><%= @photo.downloads %></p></div>
</p>



<a id="download-count" data-photo-id="<%= @photo.id %>" href='<%=@photo.image %>' download="">download me</a>

<p>
  <strong>Tags:</strong>
  <% @photo.tags.each do |tag| %>
    <%= tag.tag %>
  <% end %>
</p>

<p>
  <button type='button' id='create-collection' data-photo-id="<%= @photo.id %>">
    Create Collection
  </button>
  <div id='new-collection-modal'>
    <label for='collection-title'>Название коллекции</label>
    <input type='text' id='collection-title' placeholder='Название коллекции'>
    <textarea id='collection-description' placeholder='Введите описание коллекции'></textarea>
    <button id='save-collection' type='button'>Сохранить</button>
    <button id='back-to-collections' type='button'>Назад</button>
  </div>
  <div id='created-collections'>
    <% current_user.collections.each do |collection| %>
      <button type='button' class='choose-collection' data-collection-id="<%= collection.id %>"><%= collection.name %></button>
    <% end %>
  </div>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
<% end %>
<%= link_to 'Back', photos_path %>
