<p id="notice"><%= notice %></p>

<button type='button' id='open-collection-modal'>
  <%= image_tag("add_to_gallery.png", alt: 'Add To Gallery', class: "icon") %>
  В коллекцию
</button>

<p>
  <strong>Photo url:</strong>
  <%= @photo.image %>
  <%= link_to(image_tag(@photo.image.big_thumb.url, alt: 'Image'), @photo.image.url, target: '_blank') if @photo.image? %>
</p>

<p>
  <% if @photo.attachments? %>
  <ul>
    <% @photo.attachments.each do |attachment| %>
      <li><%= link_to(image_tag(attachment.small_thumb.url, alt: 'Image'), attachment.url, target: '_blank') %></li>
    <% end %>
  </ul>
<% end %>
</p>

<p>
  <strong>Views:</strong>
  <%= @photo.views %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @photo.likes %>
  <span class="likes-count"><%= @photo.get_upvotes.size %></span>
</p>

<% if user_signed_in? %>
  <%= link_to like_photo_path(@photo), class:"like-btn", method: :put, remote: :true do %>
    <div>
      <span><p><i class="fa fa-thumbs-up fa-3x"></i></p></span>
    </div>
  <% end %>
<% end %>
<div class="download">
  <strong>Downloads:</strong>
  <div class="download-item">
    <p><%= @photo.downloads %></p>
  </div>
</div>

<a id="download-count" data-photo-id="<%= @photo.id %>" href='<%=@photo.image %>' download="">download me</a>

<p>
  <strong>Tags:</strong>
  <% @photo.tags.each do |tag| %>
    <%= tag.tag %>
  <% end %>
</p>

<%= social_share_button_tag(@photo.image) %>

<div id='add-to-collection' >
  <div class='add-to-collection-wrapper'>
    <div class='add-to-collection-image'>
      <%= image_tag(@photo.image.big_thumb.url, alt: 'Image') %>
    </div>
    <div class='add-to-collection-text'>
      <span class='close-modal'><%= fa_icon "times 2x" %></i></span>
      <h3 class='custom-header'>Добавить в коллекцию</h3>
      <button type='button' id='create-collection' class='add-to-collection' data-photo-id="<%= @photo.id %>" data-current-image="<%= @photo.image.big_thumb.url %>">
        Создать новую коллекцию
      </button>
      <div id='new-collection-modal'>
        <span class='close-modal'><%= fa_icon "times 2x" %></i></span>
        <h3 class='custom-header'>Создать новую коллекцию</h3>
        <label for='collection-title'>Название коллекции</label>
        <input type='text' id='collection-title' placeholder='Название коллекции'>
        <p>Описание (необязательно)</p>
        <textarea rows='10' id='collection-description' placeholder='Введите описание коллекции'></textarea>
        <div class='collection-actions'>
          <button id='back-to-collections' type='button'>Отмена</button>
          <button id='save-collection' type='button'>Создать коллекцию</button>
        </div>
      </div>
      <% if current_user.collections %>
        <div class='collection-container'>
        <% current_user.collections.order({ created_at: :desc }).each do |collection| %>
            <button type='button' class='add-to-collection choose-collection <% if collection.photos.any?{|a| a.id == @photo.id} %> remove-from-collection <% end %>'
              data-collection-id="<%= collection.id %>"
              data-current-image="<%= @photo.image.big_thumb.url %>"
              <% if collection.photos.size > 0 %>
                <% if collection.photos.any?{|a| a.id == @photo.id} %>
                  data-last-image="<%= collection.photos.last(2)[0].image.big_thumb.url%>"
                <% else %>
                  data-last-image="<%= collection.photos.last.image.big_thumb.url %>"
                <% end %>
                <% if collection.photos.any?{|a| a.id == @photo.id} %>
                  style='background: url("<%= @photo.image.big_thumb.url %>") center'
                <% else %>
                  style='background: url("<%= collection.photos.last.image.big_thumb.url %>") center'
                <% end %>
              <% end %>
              >
              <div class='collection-overlay<% if collection.photos.any?{|a| a.id == @photo.id} %> visible<% end %>'></div>
              <div class='choose-collection-text'>
                <p class='photo-count'><%= collection.photos.length %> фото</p>
                <span class='collection-plus collection-sign' <% if collection.photos.any?{|a| a.id == @photo.id} %> hidden <% end %>><%= fa_icon "plus" %></span>
                <span class='collection-minus collection-sign'><%= fa_icon "minus" %></span>
                <span><%= collection.name %></span>
              </div>
            </button>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_photo_path(@photo) %> |
<% end %>
<%= link_to 'Back', photos_path %>
