<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Название %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :Фото_поста %>
    <%= f.file_field :photo %>
    <%= f.hidden_field :photo_cache %>
    <% if @post.photo? %>
      <%= image_tag post.photo.thumb.url %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Тело_поста %>
    <%= f.text_area :body, id: "wysiwyg" %>
  </div>

  <div class="field">
    <%= f.label :Краткое_описание_поста %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Создать пост" %>
  </div>
<% end %>
<script>
  $('#wysiwyg').froalaEditor({
    inlineMode: false,
    heightMin: '200px',
  })
</script>
