%p#notice= notice
%p
  %strong Title:
  = @post.title
%p
  %strong Photo:
  = image_tag(@post.photo.thumb.url, alt: 'Photo') if @post.photo?
%p
  %strong Body:
.froala-view
  = simple_format(@post.body, {}, sanitize: false)

.row
  - if user_signed_in?
    .col-md-6
      %textarea.form-control#comment_body
      %input#post_id{ value: @post.id, hidden: true }
      %input#author_id{ value: current_user.id, hidden: true }
      %input#author_email{ value: current_user.email, hidden: true }
      %input#author_avatar{ value: current_user.avatar, hidden: true }
      %button.btn.btn-my.mt-10.create_comment= 'Добавить комментарий'
  - else
    .col-md-6
      %p
        ='Чтобы оставлять комментарии'
        %a= link_to 'Войдите', new_user_session_path
        ='либо'
        %a= link_to 'Зарегистрируйтесь', new_user_registration_path

  .list-group.comments
    %a.list-group-item.active
      = 'Комментарии:'
    - if @post.comments.any?
      - @post.comments.each do |comment|
        %a.list-group-item
          .comment_author
            - if comment.user.avatar?
              =image_tag(comment.user.avatar.thumb.url, class: 'img-circle')
            - else
              =image_tag(comment.user.avatar/thumb.url, class: 'img-circle', size: 50)
            %span
              = comment.user.name
              = comment.user.surname
            %span.comment-date
              = I18n.l(comment.created_at, format: :short)
          %textarea.body_edit{hidden: true}
          %pre.comment_body.inline{ id: "comment_body_#{comment.id}"}= comment.body
          %input.comment_id{ value: comment.id, hidden: true }
    - else
      %h4.no-comment= 'Ещё никто не оставил комментарий. Будьте первым!'

= link_to 'Edit', edit_post_path(@post)
|
= link_to 'Back', posts_path
