!!!
%html
  %head
    %title Photohosting
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: 'width=device-width, initial-scale=1, user-scalable=no', name: 'viewport'}
  %body
    .container.no-padding
      %p.notice= notice
      %p.alert= alert
      - if user_signed_in?
        %span="Здравствуйте, #{current_user.name} #{current_user.surname}"
        = link_to 'Выйти', destroy_user_session_path, :method => :delete
      - else
        = link_to 'Войти', new_user_session_path
        = link_to 'Зарегистрироваться', new_user_registration_path
      - if current_user
        .well.well-sm
          Admin:
          %strong= current_user.admin?
          %br/
      = yield
