!!!
%html
  %head
    %title Photohosting
    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %meta{content: 'width=device-width, initial-scale=1, user-scalable=no', name: 'viewport'}
  %body
    /= %p.notice= notice
    /= %p.alert= alert

    .main-header
      .container
        .row.flex-row
          .col-lg-2.col-md-2.header-logo= 'FREEIMAGES'
          .col-lg-6.hidden-md.hidden-sm.header-menu
            = link_to 'Фотографии', photos_path
            = link_to 'Галлереи', collections_path
            = link_to 'Фотографы', users_path
            = link_to 'Блог', posts_path
            = link_to 'О нас', collections_path
          .col-lg-4.col-md-9.header-profile
            - if user_signed_in?
              %span="Здравствуйте, #{current_user.name} #{current_user.surname}"
              = link_to 'Выйти', destroy_user_session_path, :method => :delete
            - else
              = link_to 'Войти', new_user_session_path
              = link_to 'Зарегистрироваться', new_user_registration_path, class: 'registration'
          .hidden-lg.col-md-1
            %button.mobile-menu-button{type: 'button'}
              = image_tag 'menu.png'
          .hidden-lg.mobile-menu-container
            %button.close-mobile-menu{type: 'button'} x
            = link_to 'Фотографии', photos_path
            = link_to 'Галлереи', collections_path
            = link_to 'Фотографы', users_path
            = link_to 'Блог', posts_path
            = link_to 'О нас', collections_path
            .social-icons
              = link_to 'http://facebook.com' do
                = 'Facebook icon'
              = link_to 'http://vk.com' do
                = 'VK icon'
              = link_to 'http://instagram.com' do
                = 'Instagram icon'
              = link_to 'http://twitter.com' do
                = 'Twitter icon'

    = yield
    .main-footer
      .container
        .row
          .col-lg-4.col-md-4.col-sm-4.footer-about
            %b FreeImages -
            это яркое сообщество креативных людей, предоставляющее бесплатные изображения без авторских прав.
            %span.mobile-hide Все содержимое выпущено в Creative Commons CC0, что делает их безопасными для использования, не запрашивая разрешения или отдавая должное художнику - даже в коммерческих целях.
            = link_to 'Подробнее...', photos_path, class: 'footer-about-link'
          .col-lg-7.col-lg-offset-1.col-md-7.col-md-offset-1.col-sm-7.col-sm-offset-1.footer-links
            .footer-block
              %h4.footer-title Меню
              .footer-link-block
                = link_to 'Фотографии', photos_path
                = link_to 'Галлереи', collections_path
                = link_to 'Фотографы', users_path
                = link_to 'Блог', posts_path
                = link_to 'О нас', collections_path
            .footer-block
              %h4.footer-title Контакты
              .footer-link-block
                %a{href: 'mailto:free@images.com'} free@images.com
                %a{href: 'tel:+380710000007'} +380710000007
            .footer-block
              %h4.footer-title Мы в соцсетях
              .footer-link-block.social-icons
                = link_to 'http://facebook.com' do
                  = 'Facebook icon'
                = link_to 'http://vk.com' do
                  = 'VK icon'
                = link_to 'http://instagram.com' do
                  = 'Instagram icon'
                = link_to 'http://twitter.com' do
                  = 'Twitter icon'
        .row
          .col-lg-12
            %hr
            %span.copyright= "FREEIMAGES, © #{Date.today.year}"
